(
    kinds: [
        (
            name: "InvalidToken",
            message: "invalid token",
        ),
        (
            name: "InvalidColor",
            message: "invalid color literal",
        ),
        (
            name: "InvalidInt",
            message: "invalid integer literal",
        ),
        (
            name: "InvalidFloat",
            message: "invalid float literal",
        ),
        (
            name: "UnterminatedBlockComment",
            message: "unterminated block comment",
        ),
        (
            name: "UnexpectedToken",
            message: "unexpected token",
        ),
        (
            name: "UnexpectedEof",
            message: "unexpected end of file",
        ),
    ],
)
